.loading {
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
	.singleSkeleton {
		width: calc(100% - 16px) !important;
		margin: 8px;
		div {
			margin-bottom: 10px;
		}
		@media (min-width: 768px) {
			width: calc(33% - 16px) !important;
		}
		@media (min-width: 1024px) {
			margin: 10px;
			width: calc(25% - 20px) !important;
		}
		@media (min-width: 1200px) {
			width: calc(20% - 20px) !important;
		}
	}
}
