.btn {
	cursor: pointer;
	width: 100%;
	padding: 10px 15px;
	background: #e1997e;
	border: 0;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 1.3;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	svg {
		font-size: 20px;
		margin-right: 8px;
	}
}

.btn-branco {
	background: #fff;
	color: #e1997e;
}

.btn-preto {
	background: #000;
	color: #fff;
	&:hover {
		background: #e1997e;
		color: #fff;
	}
}
