.bannerCover {
	background: #dcdcdf;
	padding-top: 50px;
	text-align: center;
	overflow: hidden;
	.container {
		@media (min-width: 768px) {
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
	}
	h1 {
		margin-top: 0;
		text-align: center;
		font-size: 28px;
		margin-bottom: 20px;
		font-weight: lighter;
		span {
			color: #e1997e;
			display: block;
			font-size: 42px;
			font-weight: bold;
			@media (min-width: 1200px) {
				font-size: 72px;
			}
		}
		@media (min-width: 768px) {
			text-align: left;
			font-size: 36px;
		}
		@media (min-width: 1200px) {
			text-align: left;
			font-size: 52px;
		}
	}
	img {
		max-width: 70%;
		@media (min-width: 768px) {
			max-width: 45%;
		}
	}
}

.vitrineProdutos {
	margin: 50px 0;
	.container {
		//
		padding: 0 10px;
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.produto {
		transition: all linear 0.1s;
		width: calc(50% - 16px);
		margin: 8px;
		border: solid 1px #ccc;
		.imagemProduto {
			//
			aspect-ratio: 3/4;
			background: #ececec;
			width: 100%;
			img {
				display: block;
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
		}
		.textoProduto {
			//
			padding: 10px;
			.tituloProduto {
				font-size: 18px;
				margin: 8px 0;
				font-size: 16px;
			}
			.precoAntigo {
				margin: 0;
				font-size: 14px;
				text-decoration: line-through;
			}
			.precoProduto {
				margin: 0;
				margin-bottom: 16px;
				font-weight: lighter;
				font-size: 20px;
			}
		}
		@media (min-width: 768px) {
			width: calc(33% - 16px);
		}
		@media (min-width: 1024px) {
			margin: 15px;
			width: calc(25% - 30px);
		}
		&:hover {
			// border: solid 5px #e1997e;
			transform: scale(1.05);
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		}
	}
}
