header {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
	background: #fff;
	color: #111;
	border-bottom: solid 1px #ccc;
	.container {
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.mainHeaderLogo {
		padding: 15px;
		@media (min-width: 768px) {
			order: 1;
		}
	}
	.mainHeaderCarrinho {
		position: relative;
		padding: 15px;
		cursor: pointer;
		color: #ccc;
		font-size: 24px;
		svg {
			vertical-align: text-top;
		}
		span {
			width: 20px;
			position: absolute;
			top: 5px;
			right: 5px;
			display: block;
			aspect-ratio: 1/1;
			background: #e1997e;
			border-radius: 50%;
			font-size: 10px;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		@media (min-width: 768px) {
			order: 3;
			border-left: solid 1px #ccc;
		}
	}
}
